{% extends 'base.html' %}


{% block content %}
	<body id="page">


		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="/static/img/me.jpg" alt="Developer Image">
								</figure>
								<p>　　<i>一个coder:</i> wg 是我的名字首尾字母的缩写，有人问我为什么不是名字首字母缩写ws了，以前玩游戏的时候，比如有个人实力很厉害，总有人就会说他开wg了(由于外挂俩字被和谐了),所以我选wg作为我的昵称.</p>
								<p>...........</p>
								<div class="height-40px"></div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
        {% endblock %}
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2014 ThemeWagon.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->

		<script src="/static/js/script.js"></script>
		
	</body>

