{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="#">{{ article.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ article.category }}</a></span>
                <span class="post-date"><a href="#">
                                        <time class="entry-date" datetime="2012-11-09T23:15:57+00:00">
                                            {{ article.create_time }}</time></a></span>
                <span class="post-author"><a href="#">@wgPython</a></span>
                <span class="comments-link"><a href="#">{{ comment_num }}评论</a></span>
                <span class="views-count"><a href="#">{{ article.on_click }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ article.content | safe }}</p>
        </div>
    </article>
{% endblock %}
{% block comment %}
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <form action="{% url 'comments:article_comment' article.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}">名字：</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.email.id_for_label }}">邮箱：</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
{#                <div class="col-md-4">#}
{#                    <label for="{{ form.url.id_for_label }}">URL：</label>#}
{#                    {{ form.url }}#}
{#                    {{ form.url.errors }}#}
{#                </div>#}
                <div class="col-md-12">
                    <label for="{{ form.text.id_for_label }}">评论：</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{ comment_num }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <div class="text">
                            {{ comment.text }}
                        </div>
                    </li>
                {% empty %}
                    暂无评论
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}



