{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block content %}


<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="../single.html">Django 博客开发入门教程：前言</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">追梦人物</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>  测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字...</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

{#                <article class="post post-2">#}
{#                    <header class="entry-header">#}
{#                        <h1 class="entry-title">#}
{#                            <a href="../single.html">Django 博客开发入门教程：前言</a>#}
{#                        </h1>#}
{#                        <div class="entry-meta">#}
{#                            <span class="post-category"><a href="#">Django 博客教程</a></span>#}
{#                            <span class="post-date"><a href="#"><time class="entry-date"#}
{#                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>#}
{#                            <span class="post-author"><a href="#">追梦人物</a></span>#}
{#                            <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                            <span class="views-count"><a href="#">588 阅读</a></span>#}
{#                        </div>#}
{#                    </header>#}
{#                    <div class="entry-content clearfix">#}
{#                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django#}
{#                            开发的技巧...</p>#}
{#                        <div class="read-more cl-effect-14">#}
{#                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                <article class="post post-3">#}
{#                    <header class="entry-header">#}
{#                        <h1 class="entry-title">#}
{#                            <a href="../single.html">Django 博客开发入门教程：前言</a>#}
{#                        </h1>#}
{#                        <div class="entry-meta">#}
{#                            <span class="post-category"><a href="#">Django 博客教程</a></span>#}
{#                            <span class="post-date"><a href="#"><time class="entry-date"#}
{#                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>#}
{#                            <span class="post-author"><a href="#">追梦人物</a></span>#}
{#                            <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                            <span class="views-count"><a href="#">588 阅读</a></span>#}
{#                        </div>#}
{#                    </header>#}
{#                    <div class="entry-content clearfix">#}
{#                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django#}
{#                            开发的技巧...</p>#}
{#                        <div class="read-more cl-effect-14">#}
{#                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
{##}
{#                <article class="post post-4">#}
{#                    <header class="entry-header">#}
{#                        <h1 class="entry-title">#}
{#                            <a href="../single.html">Django 博客开发入门教程：前言</a>#}
{#                        </h1>#}
{#                        <div class="entry-meta">#}
{#                            <span class="post-category"><a href="#">Django 博客教程</a></span>#}
{#                            <span class="post-date"><a href="#"><time class="entry-date"#}
{#                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>#}
{#                            <span class="post-author"><a href="#">追梦人物</a></span>#}
{#                            <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                            <span class="views-count"><a href="#">588 阅读</a></span>#}
{#                        </div>#}
{#                    </header>#}
{#                    <div class="entry-content clearfix">#}
{#                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django#}
{#                            开发的技巧...</p>#}
{#                        <div class="read-more cl-effect-14">#}
{#                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </article>#}
                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div>
            </main>
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客开发入门教程：前言</a>
                        </li>
                        <li>
                            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                        </li>
                        <li>
                            <a href="#">部署 Django 博客</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        <li>
                            <a href="#">2017 年 5 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 4 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 3 月</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        <li>
                            <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                        </li>
                        <li>
                            <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                        </li>
                        <li>
                            <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">Python</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">笔记</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">AngularJS</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Snippet</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %}
